{% extends "base.html.twig" %}

      {% block title %}{{ parent() }} - {{ 'title.home'|trans }}{% endblock %}

      {% block body %}

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ 'title.home'|trans }}</h1>
            <p>{{ 'text.home'|trans }}</p>
          </div>
        </div>
      </div>

      {% endblock %}