{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Create new Product</h1>

    {{ include('content/_form.html.twig') }}
    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
        <a href="{{ path('app_products') }}">back to list</a>
    {% endif %}
{% endblock %}
